header, footer {
    background-color: #333;
}

body {
    background-color: #f4f4f4;
}

main {
    display: flex;
    flex-direction: column;
}

#todo-input {
    padding: 10px;
    margin-top: 10px;
}

.form-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

#todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todo-submit {
    background-color: #0074d9;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 80%;
    margin-top: 5px;
}